// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

ul.post-list h1,
ul.post-list h2,
ul.post-list h3,
ul.post-list h4,
ul.post-list h5,
ul.post-list h6 {
  font-weight: $base-font-weight;
}

div.post-tags {
  border-top: 1px solid $border-color-01;
  font-size: 95%;
  padding: 1.5rem 0 0;
}

.site-footer .copyright {
  font-size: 90%;
  margin-top: 1rem;
}
