@charset "utf-8";

// Override font to use IBM Plex Serif and serif font style
$base-font-family: "IBM Plex Serif", serif !default;

$color-scheme-auto: false;
$color-scheme-dark: true;
@import "minima-plex/skins/auto";
